@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.containerSection {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.containerSection .left {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;          
  flex-direction: column;
  padding: 1.875rem;
  cursor: pointer;
}

.containerSection .left .iconSocial {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.socialIcon {
  padding-top: 0.625rem;
}

.containerSection .right {
  width: 100%;
  height: 100%;
  background-color: rgba(171, 198, 214, 1);
  padding: 3.125rem;
  border-radius: 0.938rem 0 0 0.938rem;
  transition: background-color 0.5s ease;
}

.containerSection .right header {
  position: relative;
  height: 3.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerSection .right header .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerSection .right header .menu a {
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* .containerSection .right header .menu svg {
  margin-right: 55px;
} */

.containerSection .right header .menu nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerSection .right header .menu nav ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerSection .right header .menu nav ul li {
  list-style: none;
  padding: 1.563rem 2.5rem;
  display: flex;
}

.containerSection .right header .menu nav ul li a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-size: 1.125rem;
}

.containerSection .right header .menu nav ul li.activeBtn {
  background-color: #ffffff;
  width: 8.125rem;
  padding: 0.313rem 0;
  justify-content: center;
  border-radius: 6.25rem;
  font-weight: 600;
  cursor: pointer;
}

.containerSection .right header .menu nav ul li.activeBtn a {
  color: #b6ccda;
}

.containerSection .right header .rightSearch {
  position: relative;
  display: flex;
  align-items: center;
}

.containerSection .right header .rightSearch svg {
  cursor: pointer;
}

.containerSection .right header span {
  color: #fff;
  height: 1.375rem;
  margin: 0 0.938rem 0 0.313rem;
  border-left: 1px solid white;
}

.search-icons {
  position: absolute;
  cursor: pointer;
  top: 0.6rem;
  right: 3.3rem;
}

 .search-input {
  width: 0;
  border: 0.063rem solid transparent;
  transition: all 0.5s ease;
  padding: 0.563rem 2.813rem 0.563rem 1.563rem;
  font-size: 0.875rem;
  background: rgba(255, 255, 255, 0.27);
  opacity: 0;
  color: #fff;
  border-radius: 6.25rem;
}

 .search-input::placeholder {
  color: #fff;
}

 .search-input.open {
  width: 18.438rem;
  transition: all 0.5s ease;
  opacity: 1;
}
.search-input {
  width: 0;
  padding: 0.563rem 0;
  border: none;
  background-color: #ffffff59;
  transition: width 0.3s ease;
  outline: none;
}

.search-input.open {
  width: 15.625rem; 
  padding: 0.563rem 0.625rem;
}

.containerSection main {
  position: relative;
  width: 100%;
  height: calc(100% - 9.375rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerSection main .detail {
  position: relative;
}

.containerSection main .detail p {
  font-size: 3.938rem;
  line-height: 5.375rem;
  margin: 0;
  color: #fff;
  width: 40.439rem;
}

.containerSection main .detail button {
  color: white;
  border: 0.188rem solid #fff;
  width: 15.625rem;
  height: 4.375rem;
  background: transparent;
  border-radius:100px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.25rem;
  cursor: pointer;
  margin-top: 3.75rem;
}

.containerSection main .imgBx {
  position: relative;
  display: flex;
}

.containerSection .ellipse {
  display: flex;
  justify-content: flex-end;
}

.containerSection main .imgBx .imgSection img {
  width: 100%;
  height: auto;
}

.containerSection main .imgBx div img {
  width: 100%;
  height: auto;
}

.containerSection .bottomSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.25rem;
}

.containerSection .bottomSection .right-bottom-section-indicator svg {
  cursor: pointer;
}

.containerSection .bottomSection span {
  color: #fff;
  margin: 0 0.625rem;
}

.containerSection .bottomSection .manyWatches img {
  margin: 0 0.625rem;
  transition: all 0.3s ease;
}

.container-indicator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.circle {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  margin: -0.25rem 0 0.5rem 0;
  position: relative;
  border: 0.063rem solid white;
  cursor: pointer;
}

.circle1 {
  background-color: rgba(64, 67, 84, 1);
}

.circle2 {
  background-color: rgba(171, 198, 214, 1);
}

.circle3 {
  background-color: rgba(88, 215, 196, 1);
}

.circle4 {
  background-color: rgba(242, 206, 198, 1);
}
.dot {
  border-left: 0.063rem dotted #fff;
  height: 1.875rem;
}
.circle2.active {
  width: 1.875rem;
  height: 1.875rem;
  border: 0.188rem solid #fff;
  box-shadow: 0 0.063rem 0.25rem 0 rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, border-radius 0.3s ease,
    width 0.3s ease, height 0.3s ease;
}

.container-indicator span {
  margin-top: -1.313rem;
  color: #fff;
}

@media screen and (max-width: 80.625rem) {
  .containerSection main .detail p {
    font-size: 3.125rem;
    line-height: 4.375rem;
    width: 32.094rem;
  }

  .searchContainer .search-input.open {
    width: 11.875rem;
  }
}

@media screen and (max-width: 74.125rem) {
  .containerSection main .detail p {
    font-size: 2.813rem;
    line-height: 3.75rem;
    width: 28.888rem;
  }

  .containerSection .right header .menu nav ul li {
    list-style: none;
    padding: 1.563 0.938rem;
    display: flex;
  }

  .searchContainer .search-input.open {
    width: 14.5rem;
  }
  

}

@media screen and (max-width: 61.938rem) {
  .containerSection main {
    flex-direction: column;
    height: calc(100% - 0.625rem);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .containerSection .right header .menu nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 75vw;
    height: 93vh;
    background-color: #fff;
    display: none; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: all 0.3s ease;
  }

  .containerSection .right header .menu nav ul {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .containerSection .right header .menu nav ul li {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    &:hover {
      background-color: #b6ccda;
      color: #000;
    }
  }
  .containerSection .right header .menu nav ul li a {
    color: #b6ccda; 
    width: 100%; 
    display: inline-block;
    text-align: center; 
    padding: 1.25rem 0;
    &:hover {
      background-color: #b6ccda;
      color: #000;
    }
  }

  .containerSection .right header .menu.active nav {
    display: flex; 
  }
  .containerSection main .detail button {
    padding: 0.625rem 1.25rem;
  }

  .containerSection {
    flex-direction: column;
  }

  .containerSection .left {
    position: relative;
    order: 2;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 5.625rem;
  }

  .containerSection .left .iconSocial {
    display: flex;
  }

  .containerSection .right {
    order: 1;
    padding: 0rem;
    border-radius: 0 0 1.563rem 1.563rem;
    padding: 1% 5% 0 5%;
  }

  .containerSection .left .iconSocial {
    flex-direction: row;
  }
  .socialIcon {
    padding-left: 0.625rem;
  }

  .containerSection .bottomSection {
    display: none;
  }

  .searchContainer .search-input.open {
    width: 15.625rem;
  }
}
@media (max-width: 960px) {
  .containerSection main {
    flex-direction: column;
    height: calc(100% - 0.625rem);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .containerSection .right header .menu nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 75vw;
    height: 93vh;
    background-color: #fff;
    display: none; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: all 0.3s ease;
  }

  .containerSection .right header .menu nav ul {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .containerSection .right header .menu nav ul li {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    &:hover {
      background-color: #b6ccda;
      color: #000;
    }
  }
  .containerSection .right header .menu nav ul li a {
    color: #b6ccda; 
    width: 100%; 
    display: inline-block;
    text-align: center; 
    padding: 1.25rem 0;
    &:hover {
      background-color: #b6ccda;
      color: #000;
    }
  }

  .containerSection .right header .menu.active nav {
    display: flex; 
  }
  .containerSection .right {
    order: 1;
   
    height: 92%;
    border-radius: 0 0 1.563rem 1.563rem;
    padding: 1% 5% 0 5%;
  }
  .imgSection{
    width: 25rem;
  }
}

@media screen and (max-width: 47.938rem) {
  .containerSection main {
    flex-direction: column;
    height: calc(100% - 0.625rem);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .containerSection .right header .menu nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 75vw;
    height: 91vh;
    background-color: #fff;
    display: none; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: all 0.3s ease;
  }

  .containerSection .right header .menu nav ul {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .containerSection .right header .menu nav ul li {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    &:hover {
      background-color: #b6ccda;
      color: #000;
    }
  }
  .containerSection .right header .menu nav ul li a {
    color: #b6ccda; 
    width: 100%; 
    display: inline-block;
    text-align: center; 
    padding: 1.25rem 0;
    &:hover {
      background-color: #b6ccda;
      color: #000;
    }
  }

  .containerSection .right header .menu.active nav {
    display: flex; 
  }
  .containerSection main .detail button {
    padding: 0.625rem 1.25rem;
  }

  .containerSection {
    flex-direction: column;
  }

  .containerSection .left {
    position: relative;
    order: 2;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 5.625rem;
  }

  .containerSection .left .iconSocial {
    display: flex;
  }

  .containerSection .right {
    order: 1;
    padding: 1.875rem;
    margin-bottom: 10px;
    border-radius: 0 0 1.563rem 1.563rem;
  }

  .containerSection .left .iconSocial {
    flex-direction: row;
  }
  .socialIcon {
    padding-left: 0.625rem;
  }

  .containerSection .bottomSection {
    display: none;
  }

  .searchContainer .search-input.open {
    width: 15.625rem;
  }
}

@media screen and (max-width: 26.563rem) {
  .containerSection main .imgBx .imgSection img {
    width: 16.25rem;
  }

  .searchContainer .search-input.open {
    width: 12.813rem;
  }
  
}

@media screen and (max-width: 23.438rem) {
  .containerSection main .detail p {
    font-size: 1.625rem;
    line-height: 2.25rem;
    width: 16.75rem;
  }

  .containerSection main .imgBx .imgSection img {
    width: 12.5rem;
  }

  .containerSection main .detail button {
    width: 8.188rem;
    height: 3rem;
    font-size: 1rem;
    line-height: 1.063rem;
    margin-top: 0.938rem;
  }

  .containerSection .right {
    padding: 0.938rem 1.25rem;
  }

  .containerSection .left {
    height: 5rem;
  }

}
